<%= form_tag(companies_path, method: :get, class: 'mt-50') do %>
  <div class="row mt-50">

    <div class="col-12 col-md-10">
      <%= text_field_tag :search, params[:search], :id => 'search', class: 'form-control', placeholder: "Company name, ISIN, CUSIP or Country" %>
    </div>

    <div class="col-12 col-md-2">
      <%= submit_tag 'Search', name: nil,  :class => 'btn dorne-btn' %>
    </div>

  </div>
<% end %>