 <!-- ***** Return chart ***** -->
<section class="dorne-about-area section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-content text-center">
                    <h2>GREEN INDEX RETURNS</h2>                    
                    <canvas id="myChart" class="chart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Return chart End ***** -->