 <!-- ***** Return chart ***** -->
<section class="dorne-about-area section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-content text-center">
                    <h2>MARKETS ARE PICKING UP ON CARBON RISK</h2>
                    <p>Stock returns by carbon risk</p>
                    <canvas id="myChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Return chart End ***** -->