<!-- ***** What is carbon risk start ***** -->
<section class="bg-default">
    <div class="container-fluid">
        <div class="row justify-content-center">                
            <div class="col-lg-4">
                <div class="single-feature-events-area-padding-bottom-100 d-sm-flex align-items-center wow mt-100 mb-100 faq-content">
                    <div class="feature-events-content">
                        <h2>What is carbon risk?</h2>
                        <p class="mt-30">Carbon risk is an asset, sector or country's exposure to carbon intesive activities. We calcuate this risk and provide a single, quantitative measure called a carbon beta.</p>
                        <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2930897" target="_blank" class="btn dorne-btn mt-50">Read the paper</a>
                    </div>                        
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-feature-events-area-padding-bottom-100 d-sm-flex align-items-center wow mt-100 mb-100 faq-content">
                    <div class="feature-events-content">
                        <h2>What is carbon a beta?</h2>
                        <p class="mt-30">A carbon beta is a quantative measure that signals an asset, sector or country's exposure to carbon intensive activities. It's calculated using an algorithm that has been proven effective. </p>
                        <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2930897" target="_blank" class="btn dorne-btn mt-50">Read the paper</a>
                    </div>                        
                </div>
            </div>
            
            
        </div>
        
    </div>
</section>
<!-- ***** What is carbon risk End ***** -->