<!-- ***** What is carbon risk start ***** -->
<section class="bg-default">
    <div class="container-fluid">    
        <div class="row justify-content-center">   
                     
            <div class="col-lg-8">
                <div class="single-feature-events-area-padding-bottom-100 d-sm-flex align-items-center wow faq-content faq-content-last">
                    <div class="feature-events-content">
                        <h2>What is a green beta?</h2>
                        <h4 class="mt-30">Green Betas are calculated using industry standard ESG databases and state-of-the-art statistical models to isolate the carbon related components of returns. Firms with positive Green Betas are likely to outperform in a world that transitions to a green economy, whereas firms with negative Green Betas are likely to underperform.</h4>
                        <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2930897" target="_blank" class="btn dorne-btn mt-50">Read the paper</a>
                    </div>                        
                </div>
            </div>

            
            
            
        </div>
        
    </div>
</section>
<!-- ***** What is carbon risk End ***** -->