<!-- ***** Quotes Area Start ***** -->
<section class="dorne-features-restaurant-area bg-default section-padding-100-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>What the experts are saying</h4>                        
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 center">
            
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-wow-delay="0.2s">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="single-feature-events-area d-sm-flex align-items-center wow">
                                <div class="feature-events-thumb">                                        
                                    <div class="date-map-area d-flex">                                
                                        <a href="#"><%= image_tag('quote.png') %></a>
                                    </div>
                                </div>                        
        
                                <div class="feature-events-content">
                                    <h5>Ryan Riordan</h5>
                                    <h6>Queens University, Smith School of Business</h6>
                                    <p>“All of a sudden clean technologies become more viable. And the firms that have all of these investments in clean technologies are doing relatively well in capital markets.”</p>
                                </div>                        
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="single-feature-events-area d-sm-flex align-items-center">
                                <div class="feature-events-thumb">                                        
                                    <div class="date-map-area d-flex">                                
                                        <a href="#"><%= image_tag('quote.png') %></a>
                                    </div>
                                </div>                        
        
                                <div class="feature-events-content">
                                    <h5>Mark Carney</h5>
                                    <h6>Governer of the Bank of England</h6>
                                    <p>“Carbon emissions have to decline by 45% from 2010 levels over the next decade in order to reach net zero by 2050. This requires a massive reallocation of capital. If some companies and industries fail to adjust to this new world, they will fail to exist”</p>
                                </div>                        
                            </div>                              
                        </div>
                        <div class="carousel-item">
                            <div class="single-feature-events-area d-sm-flex align-items-center">
                                <div class="feature-events-thumb">                                        
                                    <div class="date-map-area d-flex">                                
                                        <a href="#"><%= image_tag('quote.png') %></a>
                                    </div>
                                </div>                        
        
                                <div class="feature-events-content">
                                    <h5>Stephen Poloz</h5>
                                    <h6>Bank of England Governer</h6>
                                    <p>“The importance of climate-related issues for financial stability and monetary policy (has) become increasingly clear”</p>
                                </div>                        
                            </div>  
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                
            </div>
            
        </div>
    </div>
</section>
<!-- ***** Quotes Area End ***** -->